.word1{
	color: #F36E21;
	font-size: 50px;
}
.word2{
	color: #F36E21;
	font-size: 50px;
}
.word3{
	color: #CFCFC4;
	font-size: 60px;
}
.word4{
	color: #F36E21;
	font-size: 50px;
}
.word5{
	color: #F36E21;
	font-size: 50px;
}
